body{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.navbar-brand, h3{
    font-style: "Poppins", serif;
}

.hero-img{
    width: 650px;
}

.menu-btn{
    border : none;
    background-color: rgba(0, 175, 239, 1);
    color : #fff;
    border-radius: 4px;
    padding: 10px 20px;
}

.desc-text{
    color : rgba(55, 52, 53, 1);
}

.blue-txt{
    color : rgba(0, 175, 239, 1);
    font-size: 50px;
}

#stats{
    margin-top: 15%;
}

#products{
    margin-top: 10%;
    width: 100%;
}

.icon-1{
    top : -75%;
    right : 8% ;
}

.carousel{
    transition: transform 0.5s ease-in-out;
}

.product-card{
    width: 397px;
}

.carousel-img{
    width: 397px;
    height: 300px;
}

.para-text{
    font-size: 13px;
}

.arrow-btn{
    border : none;
    background-color: #fff;
}

#services{
    margin-top: 10%;
    margin-bottom: 10%;
}

.service-box{
    border-left: 100px solid rgba(0, 175, 239, 1);
    height: 650px;
}

.service-img{
    position: relative;
    left : -5%;
}

#help{
    width: 100%;
    margin-bottom: 10%;
}

.help-img{
    width: 100%;
    opacity: 0.5;
}

.help-text{
    position: absolute;
    top: 38%;
    left: 35%;
    color: #fff;
}

.round-icon{
    padding: 3% 4%;
    background-color: #fff;
    border-radius: 50%;
}

.help-bg-container{
    background-color: black;
    position: relative;
}

.testimonial-card{
    min-width: 430px;
    padding : 1% 2%;
    border-radius: 10px;
    box-shadow: 0px 30px 116px -16px rgba(211, 211, 211, 0.2);
}

#testimonials{
    margin-top: 10%;
    margin-bottom : 10%;
}

.show-box{
    border-radius : 8px; 
    padding-left : 1%;
    width: 75%;
    margin: 0 auto;
    border : 1px solid rgba(192, 192, 192, 1);
    height: 80px;
}

.show-box-cont{
    margin-top : 5%;
}

#freq-asked-questions{
    margin-bottom: 10%;
}

.plus-icon{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgba(0, 175, 239, 1);
    padding : 1% 2%;
    color : #fff;
    height: 80px;
    width: 80px;
    font-size : 2em;
}

.footer-icon{
    background-color: #F5F5F5;
    border-radius: 12px;
}

input{
    width: 100%;
    border : 1px solid #C0C0C0; 
    border-radius: 5px;

}

textarea{
    border : 1px solid #C0C0C0; 
    border-radius: 5px;
}

.button-space{
    width: 100%;
}

.lower-footer{
    border-top: 1px solid #E1E1E1;
}

@media (max-width: 992px) {
    .hero-img{
        width: 350px;
        margin-bottom: 8%;
    }
    .hero-text{
        margin-bottom: 25px !important;
    }

    .desc-text{
        text-align: justify;
    }

    .vertical-line{
        display: none;
    }
}